mailer
/****************************GENERAL************************************/

* {
	border: 0;
	margin: 0;
	padding: 0;
	outline: 0;
}

body {
	background: #11542b;
	font-size: 16px;
	padding-top: 80px;
	font-family: 'Lato', sans-serif;
}

.nav-center,
.center {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	max-width: 1200px;
}

a {
	color: #191919;
	text-decoration: none;
}

ul {
	list-style: none;
	/*	text-align: right;*/
	margin-top: 1.4%;
}


/****************************NAV BAR************************************/

nav {
	position: fixed;
	width: 100%;
	top: 0;
	min-height: 50px;
	height: 80px;
	background: #fff;
	text-align: center;
	padding-top: 1%;
	z-index: 1000;
}

.toggle-nav {
	display: none;
}

.nav-mobile style {
	display: block;
}

.nav li {
	display: inline-block;
	list-style: none;
}

.nav .button-dropdown {
	width: 100px;
	position: relative;
}

.nav li a {
	display: block;
	color: #008736;
	background-color: #fff;
	padding: 0px 5px;
	text-decoration: none;
}

.nav li a:hover {
	color: #55b449;
}

.nav li {
	background-color: #fff;
	border-radius: 8px;
}

.nav li a span {
	display: inline-block;
	margin-left: 5px;
	font-size: 10px;
	color: #008736;
}

.nav li .dropdown-menu {
	display: none;
	position: absolute;
	left: 0;
	margin: 0;
	margin-top: 3px;
	text-align: left;
	padding-top: 20%;
	z-index: 10000000;
}

.nav li .dropdown-menu.active {
	display: block;
	z-index: 10000000;
}

.nav li .dropdown-menu a {
	width: 400px;
	z-index: 10000000;
}

.hiring {
	border: 2.5px solid #0ab59f;
	background: transparent;
	margin-top: 0%;
	font-size: 1.2em;
	font-weight: 200;
	text-transform: uppercase;
	color: #0ab59f;
	float: right;
	height: 2.5em;
	margin-top: 10%;
	border-radius: 7px;
	width: 50%;
	margin-bottom: 6%;
}

.hiring:hover {
	background: #0ab59f;
	color: white;
}

.signup {
	/*font-size: 1.2em;*/
	font-weight: 300;
	text-transform: uppercase;
	color: #fff;
	/*	float: right;*/
	/*	height: 2.5em;*/
	/*
	margin-top: 10%;
	border-radius: 7px;
	width: 10%;
	margin-bottom: 6%;
*/
}

.signup:hover {
	color: #f2c71a;
	font-weight: 500;
}

[type=color],
[type=date],
[type=datetime-local],
[type=datetime],
[type=email],
[type=month],
[type=number],
[type=password],
[type=search],
[type=tel],
[type=text],
[type=time],
[type=url],
[type=week],
textarea {
	color: green;
}


/*
.row.expanded {
	max-width: 80.5rem;

*/

.zoomIn {
	height: 55vh;
}


/*
#fifth {
	margin-top: -2%;
}
*/


/*********NAV BAR END**********/


/****************************MEDIA QUERIES************************************/

@media only screen and (max-width: 768px) {
	.nav li {
		font-size: 14px;
		float: left;
		padding-left: 0%;
		margin-left: 7%;
	}
}

@media only screen and (max-width: 640px) {
	.toggle-nav {
		display: block;
		padding: 10px;
		position: absolute;
		right: 10px;
		line-height: 30px;
	}
	.toggle-nav:after {
		content: ' Menu';
	}
	.nav-mobile {
		display: none;
	}
	.style-mobile {
		background: #ffffff;
		top: 51px;
		position: absolute;
		width: 100%;
	}
	.style-mobile li {
		display: block;
		width: 100%;
	}
	.nav {
		display: block;
		float: none;
		margin: 0em;
	}
}

@media only screen and (min-width: 641px) {
	.nav-mobile {
		display: block !important;
	}
}


/*********MEDIA QUERY END**********/